'''<html lang="en">
    <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Nueva Compra</title>
</head>
<body>
    #mismo menu superior que index
    <p><a href="./">Inicio</a> | <a href="./nuevacompra">Nueva</a></p>'''

{% extends 'base.html'%}
{% block title%} Nueva Compra {%endblock%}
{% block body%}
    
    <h1>Compra de divisas</h1> 
    <form action="nuevacompra", method="post">
        Fecha: <input type="date" name="fecha" id="fecha"><br/>
        Hora: <input type="time" name="hora" id="hora"><br/>
        Concepto: <input type="text" name="descripcion" id="descripcion"><br/>
        MonedaComprada: <select name="MonedaComprada" id="monedaComprada">
            <option value="EUR">Euro</option>
            <option value="BTC">Bitcoin</option>
            <option value="ETH">Ehereum</option>
            <option value=LTC>Litecoin</option>
        </select>
        MonedaPagada:<input type="number" name="cantidadComprada" id="cantidadComprada" step="0.001"><br/>
        <select name="monedaPagada" id="monedaPagada">
                <option value="EUR">Euro</option>
                <option value="BTC">Bitcoin</option>
                <option value="ETH">Ehereum</option>
                <option value=LTC>Litecoin</option>

        </select>
        Cantidad: <input type="number" name="cantidadPagada" id="cantidadPagada" step="0.001"><br/>
        <input type="submit" value="Aceptar">
    </form>
    {% endblock%}
    '''<p>Criptobook &copy;2019</p>'''
'''</body>'''
'''</html>'''